*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}



body{

background:#2b1208;

}



header{

text-align:center;

padding:40px;

background:#fff0d0;

color:#6b2c10;

}



.logo{

width:180px;

}



header h1{

font-size:45px;

font-family:cursive;

}



.cardapio{

padding:40px;

text-align:center;

color:white;

}



.produtos{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.card{

background:#fff0d0;

color:#54230c;

width:300px;

padding:20px;

border-radius:20px;

box-shadow:0 5px 20px black;

}



.card img{

width:100%;

height:220px;

object-fit:cover;

border-radius:15px;

}



.card button,
.pedido button{


background:#7b3515;

color:white;

border:none;

padding:15px;

border-radius:30px;

width:100%;

font-size:18px;

cursor:pointer;

margin-top:15px;

}



.pedido{


background:#fff0d0;

max-width:600px;

margin:40px auto;

padding:30px;

border-radius:20px;

color:#54230c;


}



.pedido input,
.pedido select,
.pedido textarea{


width:100%;

padding:12px;

margin:10px 0;

border-radius:10px;

border:2px solid #b87935;


}



footer{

background:#170902;

color:white;

padding:30px;

text-align:center;

}
