body {

font-family: Georgia, serif;
background:#fff4df;
color:#4a2c2a;
margin:0;
text-align:center;

}



header {

background:linear-gradient(#f8e6bd,#fff4df);
padding:30px;
border-bottom:3px solid #c59a3d;

}



.logo {

width:160px;
max-width:80%;
height:auto;

}



header p {

font-size:18px;
max-width:600px;
margin:20px auto;

}



h2 {

color:#7a3f20;
font-size:32px;
margin-top:50px;

}



.produtos {

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
padding:20px;

}



.card {

background:white;
width:300px;
padding:25px;
border-radius:20px;
border:2px solid #e1bd73;
box-shadow:0 8px 20px rgba(0,0,0,.15);

}



.produto-img {

width:100%;
height:220px;
object-fit:cover;
border-radius:15px;

}



h3 {

color:#8b541f;
font-size:22px;

}



ul {

text-align:left;
line-height:1.8;

}



button {

background:#7a3f20;
color:white;
border:none;
padding:13px 35px;
border-radius:30px;
font-size:16px;
cursor:pointer;

}



button:hover {

background:#c59a3d;

}



a {

text-decoration:none;

}



footer {

background:#5a2d18;
color:white;
padding:30px;
margin-top:50px;

}



.whatsapp-fixo {

position:fixed;
right:25px;
bottom:25px;

width:65px;
height:65px;

background:#25d366;
border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

box-shadow:0 5px 15px #555;

z-index:999;

}



.whatsapp-fixo img {

width:40px;
height:40px;

}



@media(max-width:700px){

.card{

width:85%;

}


h2{

font-size:26px;

}


}
